.button {
  border: none;
  border-radius: 5px;
  background: gold;
  box-shadow: 0 0 5px 1px rgba(256, 256, 256, 0.7) inset;
  padding: 8px;
  cursor: pointer;

  &.active,
  &:active,
  &:hover {
    box-shadow: 0 0 5px 1px rgba(105, 105, 105, 0.7) inset;
  }

  &.disable {
    cursor: default;
    box-shadow: none;
  }
}
