.container {
  height: 100vh;
  width: 20vw;
  border: 1px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  > div {
    margin: 4px 0;
    padding: 4px 8px;
    border-bottom: 1px solid #000;
    > h3 {
      font-size: 1.2rem;
      margin: 4px 0;
    }
  }

  .drawableButtonBox {
    > div {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
    }
  }

  .customInputBox {
    > div {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
    }
  }

  .controlButtonBox {
    > div {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
    }
  }

  .guideBox {
    ul li {
      word-break: keep-all;
      display: flex;
      flex-direction: column;
      margin-bottom: 4px;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        &:first-child {
          margin: 4px 0;
          font-weight: 700;
        }
      }
    }
  }
}
